.message {
    margin-bottom: 12px; //to be commented//removedremoved
    padding-right: 9%;
    padding-left: 9%;

    // &.r {
    //     .box {
    //         border-radius: 15px 2px 2px 15px;
    //     }
    // }
    // &.l {
    //     .box {
    //         border-radius: 2px 15px 15px 2px;
    //     }
    // }

    // &.r:first-child,
    // &.l + &.r {
    //     .box {
    //         border-top-right-radius: 15px;
    //         background-color: #111 !important;
    //         margin-top: 12px;
    //     }
    // }

    // &.l:first-child,
    // &.r + &.l {
    //     .box {
    //         margin-top: 12px;
    //         border-top-left-radius: 15px;
    //     }
    // }

    .box {
        padding: 6px 7px 8px 9px;
        box-sizing: border-box;
        max-width: 75%;
        border-radius: 10px; //to be commented/removed
        &.left {
            border-bottom-left-radius: 0; //to be commented/removed
            background: #eee;
            color: #111;
            .display-initial {
                display: inline-flex;
            }
            .timestamp {
                color: #999;
            }
        }
        &.right {
            border-bottom-right-radius: 0; //to be commented/removed
            background: #9c27b0;
            color: rgb(245, 245, 245);
            .timestamp {
                color: rgb(230, 230, 230);
                margin: -15px 0 -5px 4px;
            }
            .spacer {
                width: 68px;
            }
        }
        .spacer {
            width: 56px;
            display: inline-block;
        }
        .timestamp {
            font-size: 0.6rem;
            float: right;
            margin: -10px 0 -5px 4px;

            .icon {
                margin-left: 3px;
                display: inline-block;
                transform: translateY(4px);
            }
        }
    }

    .group-name {
        font-size: 12px;
        margin-left: 0.2rem;
        color: rgb(170, 170, 170);
        font-weight: 400;
    }
}

@media (max-width: 1024px) {
    .message {
        padding-right: 3%;
        padding-left: 3%;
    }
}

@media (max-width: 912px) {
    .message {
        padding-right: 6%;
        padding-left: 6%;
    }
}

@media (max-width: 768px) {
    .message {
        padding-right: 5%;
        padding-left: 5%;
    }
}
@media (max-width: 480px) {
    .message {
        padding-right: 3%;
        padding-left: 3%;
    }
}
