.message {
    margin-bottom: 12px;
    padding-right: 9%;
    padding-left: 9%;

    .box {
        padding: 6px 7px 8px 9px;
        box-sizing: border-box;
        max-width: 75%;
        border-radius: 10px;
        &.left {
            border-bottom-left-radius: 0;
            background: #eee;
            color: #111;
            .timestamp {
                color: #999;
            }
        }
        &.right {
            border-bottom-right-radius: 0;
            background: #9c27b0;
            color: rgb(245, 245, 245);
            .timestamp {
                color: rgb(230, 230, 230);
            }
        }
        .spacer {
            width: 56px;
            display: inline-block;
        }
        .timestamp {
            font-size: 0.6rem;
            float: right;
            margin: -10px 0 -5px 4px;

            .icon {
                margin-left: 3px;
                display: inline-block;
                transform: translateY(4px);
            }
        }
    }
}

@media (max-width: 1024px) {
    .message {
        padding-right: 3%;
        padding-left: 3%;
    }
}

@media (max-width: 912px) {
    .message {
        padding-right: 6%;
        padding-left: 6%;
    }
}

@media (max-width: 768px) {
    .message {
        padding-right: 5%;
        padding-left: 5%;
    }
}
@media (max-width: 480px) {
    .message {
        padding-right: 3%;
        padding-left: 3%;
    }
}
