.ChatContainer {
    border: none;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
.ChatHeader {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    .BackBtn {
        border-radius: 50%;
        padding: 0.5rem;
        margin-left: 0.6rem;
        font-size: 1.5rem;
    }
    .UserName {
        font-size: 1.2rem;
        font-weight: 400;
        padding: 0.8rem;
        padding-left: 0.1rem;
    }
}
