#float-label {
    display: flex;
    flex-direction: column;

    input,
    input:-internal-autofill-selected {
        width: 100%;
        height: 56px;
        padding: 0 0.8rem;
        outline: 0;
        border: 1px solid #ddd;
        border-radius: 4px;
        background: #fff;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;

        &:focus {
            border: 1px solid #0d6efd;
        }
    }

    label {
        font-size: 16px;
        font-family: Arial, Helvetica, sans-serif;
        padding: 0 12px;
        color: #999;
        pointer-events: none;

        position: absolute;
        transform: translate(0, 16px) scale(1);
        transform-origin: top left;
        transition: all 0.2s ease-out;
    }

    &:focus-within label,
    input:-internal-autofill-selected + label,
    .Active {
        transform: translate(0, -8px) scale(0.75);
        margin-left: 0.7rem;
        padding: 0 5px;
        background-color: #f2f4fb;
        border-radius: 4px;
    }

    &:focus-within label {
        color: #0d6efd;
    }
}

#message-input {
    display: flex;
    flex-direction: row;
    border: 1px solid #ddd;
    border-radius: 20px;

    #image-picker {
        height: 45px;
        outline: 0;
        margin-right: 0.2rem;
        margin-left: 0.8rem;
    }

    textarea,
    textarea:-internal-autofill-selected {
        width: 100%;
        height: 45px;
        line-height: 1.2em;
        padding: 0.75rem 0.8rem 0 0.5rem;
        outline: 0;
        border: 0;
        border-radius: 20px;
        background: #fff;
        color: #000;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        resize: none;
    }
    &:focus-within {
        border: 1px solid rgb(156, 39, 176);
    }
}

#search-input {
    padding: 0.4rem 0 0.6rem 0.4rem;

    .search-container {
        border: 1px solid transparent;
        border-radius: 4px;
        background-color: #f2f4fb;

        .icon {
            margin: 0.6rem;
        }

        input {
            font-size: 14px;
            padding-left: 0.4rem;
            color: #333;
            padding: 0.6rem 1rem 0.6rem 2.2rem;
            border-radius: 4px;
            background-color: transparent;
        }

        &:focus-within {
            border-color: #6e00ff;

            .icon {
                color: #6f00ffb7;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    #search-input {
        padding: 0.4rem 1rem 0.6rem;
    }
}
