.Button {
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.FormButton {
    padding: 5px 30px;
    color: #fff;
    font-size: 20px;
    border-radius: 4px;
    border: none;
    text-align: center;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    width: 100%;

    &.filled {
        background: #1976d2;
    }

    &.outline {
        background: #fff;
        color: #1976d2;
        border: 1px solid #1976d2;
    }

    &:hover {
        text-decoration: none;
        background-color: #1565c0;
        color: #fff;
        box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%),
            0px 1px 10px 0px rgb(0 0 0 / 12%);
    }

    &:active {
        box-shadow: 0px 5px 5px -3px rgb(0 0 0 / 20%), 0px 8px 10px 1px rgb(0 0 0 / 14%),
            0px 3px 14px 2px rgb(0 0 0 / 12%);
    }

    &:disabled {
        color: #fff;
        pointer-events: none;
        background-color: #0d6efd;
        border-color: #0d6efd;
        opacity: 0.65;
    }
}

.StartNewChatButton {
    border-radius: 50%;
    user-select: none;
    background-color: #9c27b0;
    transition: all 0.1s ease-in-out;
    padding: 0.6rem;

    &:hover {
        background-color: #8e24aa;
    }
}
