// assumed mobile screen size
$mobile: 768px;
.main-container {
    padding: 0.4rem 1rem;
    margin-top: 50px;
    height: calc(100vh - 50px);
}
@media screen and (max-width: $mobile) {
    .main-container {
        padding: 0;
    }
}
