// assumed mobile screen size
$mobile: 768px;
@media screen and (min-width: $mobile) and (max-width: 900px) {
    .UserContainer {
        width: 100%;
        flex: 0 0 45%;
        max-width: 45%;
    }
}
@media screen and (min-width: 900px) and (max-width: 1024px) {
    .UserContainer {
        flex: 0 0 40%;
        max-width: 40%;
    }
}
@media screen and (min-width: 1024px) and (max-width: 1300px) {
    .UserContainer {
        flex: 0 0 35%;
        max-width: 35%;
    }
}
@media screen and (min-width: 1300px) {
    .UserContainer {
        flex: 0 0 30%;
        max-width: 30%;
    }
}
@media screen and (max-width: $mobile) {
    .breakpoint {
        position: relative;
        .child {
            width: 200vw;
            position: absolute;
            .UserContainer,
            .ChatContainer {
                width: 100vw;
            }

            .ChatContainer {
                height: 100vh !important;
                transform: translateY(-50px);
            }
            &.active {
                transform: translateX(-100vw);
            }
        }
    }
}
