.Alert {
    border-radius: 4px;
    box-shadow: none;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.43;
    letter-spacing: 0.01071em;
    display: flex;
    align-items: center;
    padding: 6px 16px;
    margin: 0.8rem 0;
    .icon {
        margin-right: 2px;
        padding: 7px 0;
        font-size: 32px;
        opacity: 0.9;
    }
}

.Alert > div {
    padding: 8px 0;
    min-width: 0;
    overflow: auto;
}

.success {
    background-color: #d1e7dd;
    color: #0f5132;
}

.error {
    background-color: rgb(253, 237, 237);
    color: rgb(95, 33, 32);
}
