* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
  -webkit-box-sizing: border-box !important;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  /* scroll-behavior: smooth; */
  /* overflow: hidden; */
}

*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: #f2f4fb;
  color: #a1a1a1 !important;
  font: 400 16px/24px Roboto, Noto Sans, Noto Sans JP, Noto Sans KR, Noto Naskh Arabic, Noto Sans Thai, Noto Sans Hebrew,
    Noto Sans Bengali, sans-serif !important;
  word-wrap: break-word;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  overflow: hidden;
}

::-webkit-scrollbar {
  display: block;
  width: 6px;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: #264fb8;
  border-radius: 0px;
}

::-webkit-scrollbar-corner {
  background: none;
}

::-webkit-scrollbar-thumb:hover {
  background: #2d5dda;
}

::-webkit-scrollbar-thumb:active {
  background: #346dfd;
}

a,
a:hover {
  color: inherit;
  text-decoration: none !important;
}

button,
input,
textarea {
  border: none;
  background-color: inherit;
  outline: none;
  overflow: hidden;
}

input,
textarea,
button {
  color: #c1c1c1;
}

button,
[role="button"] {
  user-select: none;
}

.fl {
  display: flex;
}

.fl-c {
  justify-content: center;
  align-items: center;
}

.fl-j-sb {
  justify-content: space-between;
}

.fl-j-sa {
  justify-content: space-around;
}

.fl-j-se {
  justify-content: space-evenly;
}

.fl-j-fs {
  justify-content: flex-start;
}

.fl-j-fe {
  justify-content: flex-end;
}

.fl-a-fs {
  align-items: flex-start;
}

.fl-a-fe {
  align-items: flex-end;
}

.fl-d-row {
  flex-direction: row;
}

.fl-d-row-rev {
  flex-direction: row-reverse;
}

.fl-d-col {
  flex-direction: column;
}

.fl-d-col-rev {
  flex-direction: column-reverse;
}

.fl-w-w {
  flex-wrap: wrap;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.h-100vh {
  height: 100vh;
}

.w-100vw {
  width: 100vw;
}

.p-fix {
  position: fixed;
}

.p-abs {
  position: absolute;
}

.p-rel {
  position: relative;
}

.t-0 {
  top: 0;
}

.b-0 {
  bottom: 0;
}

.l-0 {
  left: 0;
}

.r-0 {
  right: 0;
}

img,
input,
textarea {
  box-sizing: content-box;
}

.c-d {
  cursor: default;
}

.c-p {
  cursor: pointer;
}

.c-na {
  cursor: not-allowed;
}

.d-none {
  display: none;
}

.d-none-strict {
  display: none !important;
}

.lhinit {
  line-height: initial;
}

.text-center {
  text-align: center;
}

.p12 {
  padding: 1rem 2rem;
}

.tnf-c {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tnf-x-c {
  left: 50%;
  transform: translateX(-50%);
}

.tnf-y-c {
  top: 50%;
  transform: translateY(-50%);
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.single-line-ellipsis {
  line-height: 1em;
  height: 1em;
}

.BackBtn {
  border-radius: 50%;
  padding: 0.5rem;
  margin-left: 0.6rem;
  font-size: 1.5rem;
}

/* grid clear : style that clears the flow */

.row::after {
  content: "";
  clear: both;
  display: table;
}

/* grid clear : style that clears the flow */

/* grid columns */

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

@media (max-width: 768px) {
  ::-webkit-scrollbar {
    display: none;
  }

  .col-sm-1 {
    width: 8.33%;
  }

  .col-sm-2 {
    width: 16.66%;
  }

  .col-sm-3 {
    width: 25%;
  }

  .col-sm-4 {
    width: 33.33%;
  }

  .col-sm-5 {
    width: 41.66%;
  }

  .col-sm-6 {
    width: 50%;
  }

  .col-sm-7 {
    width: 58.33%;
  }

  .col-sm-8 {
    width: 66.66%;
  }

  .col-sm-9 {
    width: 75%;
  }

  .col-sm-10 {
    width: 83.33%;
  }

  .col-sm-11 {
    width: 91.66%;
  }

  .col-sm-12 {
    width: 100%;
  }
}

/* grid columns */
